.heading {
  margin-top: 15%;
}

.heading-icon {
  font-size: 100px;
  color: rgb(10, 86, 226);
}

.heading h1 {
  font-size: 70px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.patient {
  margin-top: 10%;
}

.form-input {
  background-color: white;
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

::placeholder {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  vertical-align: middle;
}

.voice-box {
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  width: 100%;
  height: 7vh;
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.voice-box h5 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: grey;
  display: flex;
  align-items: center;
  margin: 0 0 0 2%;
}

.voice-button {
  background-color: rgb(16, 16, 110);
  color: white;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  margin: 1% 3% 0 3%;
}