.App {
  background-color: green;
  height: 100%;
}

.side-nav {
  width: 7%;
  margin: 0;
  float: left;
  margin: 5% 0 0 2%;
}

.main {
  float: left;
  margin: 5% 3% 0 3%;
  width: 80%;
  height: 100%;
}